
* {
    margin: 0;
    padding: 0;
  }

img {
    width: 125px;
    height: 125px;
    border: red 2px solid;
    margin: 10px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.red{
    color: red;
}

p {
        font-family: 'Courier New', Courier, monospace;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
}

user-info {
    display: inline-block;
    vertical-align: top;
}

user-info + div {
    margin: 10px;
}
/* smartphones landscape */
@media screen and (max-width: 767px) {
    user-info {
        width: 90%;
        text-align: center;
        margin: 5%
    }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    user-info {
        width: 45%;
        margin: 2.5%;
    }
    
    img, h2 {
        display: inline-block;
        vertical-align: middle;
    }
}

/* pc */
@media screen and (min-width: 1024px) {
    user-info {
        width: 30%;
        margin: 1.5%;
    }
    
    #root {
        padding: 5%;
        max-width: 1024;
        justify-content: center;
    }

    img, h2 {
        display: inline-block;
        vertical-align: middle;
    }
    h2 {
        width: min-content;
    }
}
